<h3>Details of the user {{user.name}} {{user.surname}} with id {{user.id}} </h3>
<div class="container">
    <div class="row">
        <div class="col">
            <label><b>ID: </b> {{user.id}} </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><b>Name: </b> {{user.name}} </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><b>Surname: </b> {{user.surname}} </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><b>Email: </b> {{user.email}} </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><b>Birth date: </b> {{user.birth | date:"yyyy/MM/dd"}} </label>
        </div>
    </div>
</div>
