#buttonCustom {
    background-color: rgb(255, 209, 3);
    border-color: rgb(196, 137, 0);
    width: 69%;
    text-align: justify;
}

#product {
    border-width: 1px;
    border-color: rgb(179, 179, 179);
    background-color: rgb(243, 243, 243);
}

#addCart {
    align-self: flex-end;
}

#addBtnContainer {
    height: 92%;
}


  