

#nav-bar {
    border-top: solid 1px #afafaf;
    border-bottom: solid 1px #afafaf;
    display: flex;
    justify-content: center;
}

i.fas.fa-shopping-cart {
    font-size: 1.5rem;
    color:#007bff
}

#login-container {
    display: flex;
    justify-content: center;
    margin-top: 9%;
}

