<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-11">
            <h2>Product List</h2>
        </div>
        <div class="col-1">
            <a routerLink="/products/register-product" routerLinkActive="active" class="nav-link"><i
                    class="fas fa-plus-square"></i></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 mt-4" *ngFor="let product of products">
            <div class="card" (click)="detailsProduct(product.id)">
                <img class="card-img-top" src="{{product.imgURL}}" alt="Card image cap">
                <div class="card-body">
                    <h5 (click)="detailsProduct(product.id)" class="card-title">{{product.nameItem}}</h5>
                    <p class="card-text">${{product.price}}</p>
                    <p class="card-text"><small class="text-muted">Only {{product.stock}} left in stock!</small></p>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<div class="container">
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item active">
            <span class="page-link">
              1
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>