<!--
<div class="container">
    <div class="row">
        <div class="col-11">
            <h2>Product List</h2>
        </div>
        <div class="col-1">
           
            <a routerLink="/products/register-product" routerLinkActive="active" class="nav-link"><i class="fas fa-plus-square"></i></a>
        </div>
    </div>
</div>
<br>
<table class="table table-striped" id="category-table">
    <thead class="table-dark">
        <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Brand</th>
            <th class="text-center">Category</th>
            <th class="text-center">Color</th>
            <th class="text-center">Weight</th>
            <th class="text-center">Volume</th>            
            <th class="text-center">Price</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="text-center align-baseline">{{product.id}}</td>
            <td class="text-center">{{product.nameItem}}</td>
            <td class="text-center">{{product.brand}}</td>
            <td class="text-center">{{product.category.name}}</td>
            <td class="text-center">{{product.color}}</td>
            <td class="text-center">{{product.weight}}</td>
            <td class="text-center">{{product.volume}}</td>
            <td class="text-center">${{product.price}}</td>
            <td class="text-center">
                <a (click)="deleteProduct(product.id)" type="button" class="btn btn-danger mx-1 text-white">Delete</a>
                <a (click)="detailsProduct(product.id)" type="button" class="btn btn-primary mx-1 text-white">Details</a>
                <a (click)="detailsProduct(product.id)" type="button" class="btn btn-success mx-1 text-white">Update</a>
            </td>
        </tr>
    </tbody>
</table>     -->
<div class="container">
    <div class="row">
        <div class="col-11">
            <h2>Product List</h2>
        </div>
        <div class="col-1">
            <a routerLink="/products/register-product" routerLinkActive="active" class="nav-link"><i
                    class="fas fa-plus-square"></i></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 mt-4" *ngFor="let product of products">
            <div class="card" (click)="detailsProduct(product.id)">
                <img class="card-img-top" src="{{product.imgURL}}" alt="Card image cap">
                <div class="card-body">
                    <h5 (click)="detailsProduct(product.id)" class="card-title">{{product.nameItem}}</h5>
                    <p class="card-text">${{product.price}}</p>
                    <p class="card-text"><small class="text-muted">Only {{product.stock}} left in stock!</small></p>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<div class="container">
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item active">
            <span class="page-link">
              1
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>