<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Add user</h3>
            <form (ngSubmit)= "onSubmit()">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Name</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name">
                            <label>Surame</label>
                            <input type="text" class="form-control" id="surname" [(ngModel)]="user.surname" name="surname">
                            <label>Email</label>
                            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
                            <label>Date birth</label>
                            <input type="date" class="form-control" id="birth" [(ngModel)]="user.birth" name="birth">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>